<h1>Home</h1>
<h2>Welcome to the alpha blog</h2>
<p>This is a blog about things that I like and you might like too.</p>

<%= link_to 'Salve Regina', salve_path%>
<%= link_to 'Articles listing', articles_path%>
<%= link_to 'About', about_path%>